<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile=""
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://limgp:6080/arcgis/rest"
                   matchAll="true"/>
        <serverUrl url="https://limgp:6080/arcgis/rest"
                   matchAll="true"/>
        <serverUrl url="http://analysis.arcgis.com/arcgis/rest/services/tasks/GPServer/EnrichLayer"
                   matchAll="true"/>
        <serverUrl url="https://analysis.arcgis.com/arcgis/rest/services/tasks/GPServer/EnrichLayer"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
